.content {
  display: flex;
  width: 100%;

  .build-success-rates,
  .pull-requests,
  .reviewers {
    flex-shrink: 0;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .build-success-rates,
  .pull-requests {
    flex-basis: 38%;
  }

  .reviewers {
    flex-basis: 24%;
  }

  h2 {
    color: @teal;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  ul.metric-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.metric-list > li {
    @hexagon-size: 90px;

    display: flex;
    align-items: center;
    margin: 10px 0 10px @hexagon-size / 2;
    background-color: @gray;
    box-shadow: 3px 3px lighten(@gray, 3%);

    > .metric-stamp {
      .hexagon(@hexagon-size, @teal);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-basis: @hexagon-size;
      justify-content: center;
      margin-left: -@hexagon-size / 2;
      color: @gray;

      > .value {
        text-align: center;
        font-size: 24px;
      }

      > .label {
        text-align: center;
        font-size: 12px;
        color: @gray;
        text-transform: uppercase;
      }
    }

    > .metric-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 10px 15px;

      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
      }

      p {
        display: block;
        margin: 0;
        font-size: 14px;
        color: @teal;
      }
    }

    > img {
      width: 60px;
      height: 60px;
      padding: 0 10px;
      filter: grayscale(1);
    	-webkit-filter: grayscale(1);
    	-moz-filter: grayscale(1);
    	-o-filter: grayscale(1);
    	-ms-filter: grayscale(1);
    }
  }
}
