@import (inline) '~normalize.css/normalize.css';

@import './mixins.less';
@import './variables.less';

@import './components/main.less';
@import './components/build-success-rates/build-success-rates.less';
@import './components/pull-requests/pull-requests.less';

body {
  height: 100vh;
  background: @gray-dark;
  color: #F6F6F6;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif;
}
